.overhidden{overflow: hidden;}

.scrollWrapper{
	position: absolute;
	overflow: hidden;
	width:100%;
	z-index: 1;
}

.pulldown .pulldown-icon, .pullup .pullup-icon  {
    display:inline-block;
    width:20px; height:20px;
    background:url(../image/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:20px 40px; background-size:20px 40px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    position: relative;
    top: 5px; 
}

.pullup.nomore .pullup-icon {
	display: none;
}

.pulldown .pulldown-icon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

.pullup .pullup-icon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pulldown.flip .pulldown-icon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pullup.flip .pullup-icon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

.pulldown.loading .pulldown-icon, .pullup.loading .pullup-icon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
.masklayer {
            position: fixed;
            z-index: 500;
            background: #000;
            opacity: 0.5;
            top: 5em;
            bottom: 0em;
            width: 100%;
            display: none;
        }